{
  "Parameters": {
    "SYLLABUS_CRUD_USERNAME": "XXXXXXXXXXXXXX",
    "SYLLABUS_CRUD_PASS": "XXXXXXXXXXXXXX",
    "SYLLABUS_CRUD_HOST": "XXXXXXXXXXXXXX",
    "SYLLABUS_CRUD_PORT": "27017",
    "SYLLABUS_CRUD_DB": "XXXXXXXXXXXXXX"
  }
}